/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --primary-blue: #2797e9;
  /* Light Colors */
  --light-bg: #f9fafb;
  --light-bg-white: #ffffff;
  --light-h1: #111827;
  --light-h2: #5f6875;
  --light-border: #d1d5db;
  --light-text-gray: #374151;
  --light-text-white: #ffffff;

  /* Dark Colors */
  --bg-dark: #0f172a;

  /* Margin */
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-error: 24px;
  --margin-lg: 32px;

  /* Padding */
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 32px;
}
/* ===========================
   MARGINS
=========================== */
.m-sm {
  margin: var(--margin-sm);
}
.m-md {
  margin: var(--margin-md);
}
.m-lg {
  margin: var(--margin-lg);
}

/* Top */
.mt-sm {
  margin-top: var(--margin-sm) !important;
}
.mt-md {
  margin-top: var(--margin-md) !important;
}
.mt-error{
  margin-top: var(--margin-error) !important;
}
.mt-lg {
  margin-top: var(--margin-lg) !important;
}

/* Bottom */
.mb-sm {
  margin-bottom: var(--margin-sm);
}
.mb-md {
  margin-bottom: var(--margin-md);
}
.mb-lg {
  margin-bottom: var(--margin-lg);
}

/* Start (left em LTR) */
.ms-sm {
  margin-left: var(--margin-sm);
}
.ms-md {
  margin-left: var(--margin-md);
}
.ms-lg {
  margin-left: var(--margin-lg);
}

/* End (right em LTR) */
.me-sm {
  margin-right: var(--margin-sm);
}
.me-md {
  margin-right: var(--margin-md);
}
.me-lg {
  margin-right: var(--margin-lg);
}

/* ===========================
   PADDINGS
=========================== */

/* Top */
.pt-sm {
  padding-top: var(--padding-sm);
}
.pt-md {
  padding-top: var(--padding-md);
}
.pt-lg {
  padding-top: var(--padding-lg);
}

/* Bottom */
.pb-sm {
  padding-bottom: var(--padding-sm);
}
.pb-md {
  padding-bottom: var(--padding-md);
}
.pb-lg {
  padding-bottom: var(--padding-lg);
}

/* Start (left em LTR) */
.ps-sm {
  padding-left: var(--padding-sm);
}
.ps-md {
  padding-left: var(--padding-md);
}
.ps-lg {
  padding-left: var(--padding-lg);
}

/* End (right em LTR) */
.pe-sm {
  padding-right: var(--padding-sm);
}
.pe-md {
  padding-right: var(--padding-md);
}
.pe-lg {
  padding-right: var(--padding-lg);
}

/* Padding total */
.p-sm {
  padding: var(--padding-sm);
}
.p-md {
  padding: var(--padding-md);
}
.p-lg {
  padding: var(--padding-lg);
}

/* Text align */
.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--light-bg);
  font-family: "Inter", sans-serif;
  color: var(--light-text);
  font-size: clamp(16px, 1.2vw, 18px);
  line-height: 1.2;
}

h1 {
  color: var(--light-h1);
  font-weight: 700;
  font-size: clamp(28px, 4vw, 35px);
}
h2 {
  color: var(--light-h2);
  font-weight: 400;
  font-size: clamp(16px, 2vw, 20px);
}

/* Label from NG-ZORRO*/
::ng-deep .ant-form-item-label > label {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--light-text-gray) !important;
}
.ant-form-item .ant-form-item-label {
  margin: 0 !important;
  padding: 0 !important;
  color: var(--light-text-gray) !important;
}
label {
  font-size: 14px !important;
  color: var(--light-text-gray) !important;
}

::ng-deep nz-form-label label,
::ng-deep .ant-form-item .ant-form-item-label > label {
  color: var(--light-text-gray) !important;
  font-size: 14px !important;
}

/* Input from NG-ZORRO */
input {
  border-radius: 81px;
  height: 44px;
}
.ant-input {
  border-radius: 4px;
  padding: 10px !important;
}

.ant-input-affix-wrapper {
  padding: 0 !important;
}
.ant-input-suffix {
  margin: 10px;
  font-size: 16px;
}
.ant-input-suffix svg {
  color: var(--light-text-gray);
}
.ant-input-suffix svg::hover {
  color: var(--light-h1);
}

/* Button Primary NG-ZORRO */
.ant-btn-primary {
  height: 44px;
  font-size: 16px;
  color: var(--light-text-white);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Form Item Spacing NG-ZORRO */
.ant-form-item {
  margin: 0;
}

.auth-card {
  
  max-width: 400px;
  background-color: var(--light-bg-white);
  border-radius: 8px;
  padding: var(--padding-lg) var(--padding-md);
  border: solid 1px var(--light-border);
}

.auth-card .ant-form-item {
  position: relative;
  flex: 1;
}

.auth-card .ant-form-item-has-error .ant-form-item-control {
  position: relative;
}

.auth-card .ant-form-item-explain {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 2px;
}

.auth-card .d-flex-center {
  align-items: flex-start;
}