.card{
    min-width: 300px;
    max-width: 400px;
    background-color: var(--light-bg-white);
    border-radius: 8px;
    padding: var(--padding-lg) var(--padding-md);
    border: solid 1px var(--light-border);
}