<h2>login</h2>

<!-- <div class="card">
    <h1 class="text-center">Welcome back!</h1>
    <h2 class="text-center mt-md">Please enter your details to sign in.</h2>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()" class="mt-md">
        <nz-form-item>
            <nz-form-label class="custom-label">Email</nz-form-label>
            <nz-form-control nzErrorTip="Please input your email!">
                <input nz-input formControlName="email" placeholder="jhondoe@email.com" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mt-sm">
            <nz-form-label>Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your password!">
               
                <nz-input-password>
                    <input nz-input placeholder="••••••••" formControlName="password" />
                </nz-input-password>
            </nz-form-control>
        </nz-form-item>





        <div class="text-end mt-sm">
            <a routerLink="/home">Forgot your password?</a>
        </div>

       <nz-form-item class="mt-md">
            <nz-form-control>
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading"
                    [disabled]="!validateForm.valid || isLoading">
                    Login
                </button>
            </nz-form-control>
        </nz-form-item>
        <div class="text-center mt-sm">
            <span style="color: var(--light-text-gray) !important;">Don’t have an account?</span> <a
                routerLink="/auth/create-account"> Sign Up</a>
        </div>
    </form>

</div> -->