.absolute {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1000;
}
a {
  text-decoration: none;
  color: inherit;
}


.flag-icon {
  width: 20px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
}
