/* Tema Dark */
@import './variables.less';

/* Backgrounds */
@bg-body: #0f172a;
@bg-white: #1e293b;

/* Text */
@text-h1: #e2e8f0;
@text-h2: #94a3b8;
@text-gray: #cbd5e1;
@text-white: #ffffff;

/* Borders */
@border-light: #334155;

/* Inputs & Labels */
@label-color: @text-gray;
@input-suffix-color: @text-gray;

/* Buttons */
@btn-primary-bg: @primary-blue;
@btn-primary-text: @text-white;

/* Card */
@card-bg: @bg-white;
@card-border: @border-light;

@link-color: @text-white;