/* Tema Light */
@import './variables.less';

/* Backgrounds */
@bg: #f9fafb;
@bg-card: #ffffff;
@avatar-card: #f9fafb;
@header-bg: #d1d5db;
@header-avatar-icon: #5f6875;

/* Text */
@text-h1: #111827;
@text-h2: #5f6875;
@text-gray: #374151;
@text-white: #ffffff;

/* Borders */
@border: #d1d5db;

/* Inputs & Labels */
@label-color: @text-gray;
@input-suffix-color: @text-gray;

/* Buttons */
@btn-primary-bg: @primary-blue;
@btn-primary-text: @text-white;

/* Card */
@card-bg: @bg-card;
@card-border: @border;

@link-color: @primary-blue;