@use 'variables' as *;

@mixin light-theme {
  /* Backgrounds */
  --bg: #f9fafb;
  --bg-card: #ffffff;
  --avatar-card: #f9fafb;
  --header-bg: #ffffff;
  --header-avatar-icon: #5f6875;

  /* Text */
  --text-h1: #111827;
  --text-h2: #5f6875;
  --text-gray: #374151;
  --text-white: #ffffff;

  /* Borders */
  --border: #d1d5db;

  /* Inputs & Labels */
  --label-color: #374151;
  --input-suffix-color: #374151;
  --color-input: #374151;

  /* Buttons */
  --btn-primary-bg: #{$primary-blue};
  --btn-primary-text: #ffffff;

  /* Card */
  --card-bg: #ffffff;
  --card-border: #d1d5db;

  --link-color: #{$primary-blue};
  --placeholder-input: #{$light-placeholder-input};
  --border-input: #d1d5db;
  --border-input-focus: #{$focus-blue};
  --hover-input: #{$focus-blue};
}